@(comment: Comment)

@if(comment.rate == null) {
    <div id="comment-rate-label">n/a<span class="glyphicon glyphicon-star-empty"></span></div>
} else {
    <div id="comment-rate-label">@comment.rate <span class="glyphicon glyphicon-star-empty"></span></div>
}
<div class="panel-heading">
    @if(comment.user.firstName == "" || comment.user.lastName == "") {
        <h3 class="panel-title">Anonymous - @comment.commentCreated.getTime</h3>
    } else {
        <h3 class="panel-title">@comment.user.firstName @comment.user.lastName
            - @comment.commentCreated.getTime</h3>
    }
</div>
<div class="panel-body">
    <textarea id="comment-content" class="form-control" rows="2" name="commentContent" id="commentContent" type="text" readonly>@comment.commentContent</textarea>
</div>