@import utillities.SessionHelper
@(place: Place)(services: java.util.List[Service])(comments: java.util.List[Comment])(images: java.util.List[Image])(rating: Double)
<script>

</script>
<!--div class="container"-->
<div class="form-group">
    <h3 style="color : #0a68b4">@place.title</h3>
</div>
<br>

<!--Address -->
<div class="form-group">
    <i class="fa fa-map-marker"></i>
    <label for="address">Address:</label>
    <input type="text" class="form-control" name="address" id="address" value="@place.address" readonly>
</div>
<p><br/></p>
<!-- Service -->
<div class="form-group">
    <i class="fa fa-bars"></i>
    <label for="service">Service:</label>
    <div class="row">
        <div class="col-xs-10">
            <input type="text" class="form-control" name="service" id="service" value="@place.service.serviceType" readonly>
        </div>
        <div class="col-xs-2">
            <img class="img-responsive" src="@routes.Assets.versioned(place.service.serviceIcon)" >
        </div>
    </div>
</div>
<p><br/></p>
@if(place.description != "") {
    <!-- Description -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-arrow-circle-o-down"></i>
                        Description
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" style="white-space : pre-line ;">
                @place.description
                </div>
            </div>
        </div>
    </div>
}

<!-- Number of views -->
<div class="form-group">
    <i class="fa fa-eye"></i>
    <label for="views">Views:</label>
    @if(place.numOfViews == null) {
        <input type="text" class="form-control" name="views" id="views" value="0" readonly>
    } else {
        <input type="text" class="form-control" name="views" id="views" value="@place.numOfViews" readonly>
        }
</div>
<p><br/></p>

<!-- Number of reservations -->
@if(SessionHelper.isAuthenticated) {
    @if(SessionHelper.getCurrentUsersEmail == place.user.email || SessionHelper.getCurrentUser().isAdmin && place.service.isReservable()) {
        <div class="form-group">
            <i class="fa fa-check-circle-o"></i>
            <label for="views">Reservations:</label>
            @if(place.numOfReservations == null) {
                <input type="text" class="form-control" name="reservations" value="0" readonly>
            } else {
                <input type="text" class="form-control" name="reservations" value="@place.numOfReservations" readonly>
                }
        </div>
        <p><br/></p>
    }
}
<!-- Rating -->
<div class="form-group">
    <i class="fa fa-star"></i>
    <label for="rating1">Rating:</label>
    <div class="row">
    @if(rating == null) {
        <div class="col-xs-10" style="width: 70%">
            <input type="text" class="form-control" name="rating1" id="rating1" value="n/a" readonly>
        </div>
        <div class="col-xs-2" style="width: 30%">
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
            </div>

    } else {
        <div class="col-xs-10" style="width: 70%">
            <input type="text" class="form-control" name="rating1" id="rating1" value="@rating " readonly>
        </div>
        <div class="col-xs-2" style="width: 30%">
        @for(i <- place.getListRating()) {
            @if(place.getRating() >= i) {
                <span class="glyphicon glyphicon-star" style="color : gold"></span>
            } else {
                <span class="glyphicon glyphicon-star-empty" style="color : gold"></span>
            }
        }
        </div>
    }
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".accordion").accordion();
    });
    $('.collapsed').click(function () {
        $("i", this).toggleClass("fa fa-arrow-circle-o-down fa fa-arrow-circle-o-up");
    })

</script>