@import utillities.SessionHelper
@(comments: java.util.List[Comment])

@main("Comments list") {

    <div class="container-fluid">
        <h2>All comments</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>content</th>
                    <th>place title</th>
                    <th>user</th>
                    <th>view</th>
                    @if(SessionHelper.isAdmin) {
                        <th>delete</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(comment <- comments) {
                <tr>
                    <td>@comment.id</td>
                    <td>@comment.commentContent</td>
                    <td>@comment.place.title</td>
                    <td>@comment.user.email</td>
                    <td><a href="@routes.PlaceController.viewPlace(comment.place.id)"> <i class="glyphicon glyphicon-eye-open"></i></a></td>
                    @if(SessionHelper.isAdmin) {
                    <td><a onclick="del('')"><i class="glyphicon glyphicon-trash"></i></a></td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")" type="text/javascript"></script>
    <script>
        function del(urlToDel) {
         if (confirm('Are you sure you want to delete this comment?')) {
         $.ajax({
                url: '/ValidateApplication.php',
                url: urlToDel,
                type: 'DELETE',
                success: function(results) {
                    location.reload();
                }
            });
          }
    }
    </script>
}