@import utillities.SessionHelper
@import models.Report.ReportHelper
@(reports: java.util.List[ReportHelper])

@main("Comments list") {


    <h2 style="color : #0a68b4" class="naslov">Reported comments</h2>
    <div class="row">

        <div class="btn-group-vertical col-md-3">
            <a href="/user/list" class="btn btn-default">All users</a>
            <a href="/place/list" class="btn btn-default">All places</a>
            <a href="/comments/list" class="btn btn-default">All comments</a>
            <a href="/comments/reported" class="btn btn-default">Reported comments</a>
            <a href="/service/add" class="btn btn-default">Add services</a>
            <a href="/service/list" class="btn btn-default">Service list</a>
            <a href="/faq" class="btn btn-default">FAQ</a>

        </div>
        <div class="col-md-10">
            <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>comment id</th>
                        <th>content</th>
                        <th>reports</th>
                        <th>view</th>
                        @if(SessionHelper.isAdmin) {
                            <th>delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(report <- reports) {
                    <tr>
                        <td>@report.comment.id</td>
                        <td>@report.comment.commentContent</td>
                        <td>@report.reportsCount</td>
                        <td><a href="@routes.PlaceController.viewPlace(report.comment.place.id)"> <i class="glyphicon glyphicon-eye-open"></i></a></td>
                        @if(SessionHelper.isAdmin) {
                            <td><a href="@routes.CommentController.deleteComment(report.comment.id)" role="button" data-role="delete" data-delete-parent="tr"><i class="glyphicon glyphicon-trash"></i></a></td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>

}