@import utillities.SessionHelper
@(messages: java.util.List[Message])

    @views.html.messages.messageview {

        <!--div id="info-container" class="col-md-9">
      <ul class="list-group">
          @for(message <- messages) {
            <li class="list-group-item">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    @if(Message.isNewMessage(message)) {
                        <h3 class="panel-title">@(message.sender.firstName + " " + message.sent.getTime()) <strong style="color : red">
                            NEW!</strong> </h3>
                        @Message.seen(message)
                    } else {
                        <h3 class="panel-title">@(message.sender.firstName + " " + message.sent.getTime())</h3>
                    }
                    </div>
                    <div class="panel-body">@message.content</div>
                </div>
            </li>
        }
        </ul>
        <li class="list-group-item">
            <div class="panel panel-default">
                <form action="@routes.MessageController.sendMessage(messages.get(0).reservation.id)" method="POST">
                    <div class="form-group">
                        <div class="panel-body">
                            <textarea class="form-control" style="resize : inherit" name="content" placeholder="Message ..."></textarea>
                            <div class="alert alert-danger" data-error-for="content" role="alert" hidden></div>
                            <div>
                                <input type="submit" class="btn btn-primary pull-right" value="Send" style="margin-top : 1 em"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        </div>
        <script>
    var urlToPost = "@routes.MessageController.validateForm()";
  </script-->



    <div class="panel-body">
        <div class="chat">

            @for(message <- messages){
                @if(!message.sender.equals(SessionHelper.getCurrentUser)){
                    <div class="left clearfix panel panel-default">
                        <div class="message-content-container">
                            <span class="chat-img pull-left">
                                @if(Image.findByUser(message.sender) != null) {
                                    <img src="@Image.findByUser(message.sender).getSize(100, 100)" class="avatar img-circle img-thumbnail" alt="avatar">
                                } else {
                                    <img src="//placehold.it/100" class="avatar img-circle img-thumbnail" alt="avatar">
                                }
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@message.sender.firstName @message.sender.lastName</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>@message.sent.getTime()
                                    </small>
                                </div>
                                <p> @message.content </p>
                            </div>
                        </div>
                    </div>
                }else{
                    <div class="right clearfix panel panel-default">
                        <div class="message-content-container">
                            <span class="chat-img pull-right">
                                @if(Image.findByUser(message.sender) != null) {
                                    <img src="@Image.findByUser(message.sender).getSize(100, 100)" class="avatar img-circle img-thumbnail" alt="avatar">
                                } else {
                                    <img src="//placehold.it/100" class="avatar img-circle img-thumbnail" alt="avatar">
                                }
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">
                                        <span class="glyphicon glyphicon-time"></span>@message.sent.getTime()
                                    </small>
                                    <strong class="pull-right primary-font">@message.sender.firstName @message.sender.lastName</strong>
                                </div>
                                <p> @message.content </p>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>

    <div class="panel-body">
        <div class="panel panel-default">
            <form action="@routes.MessageController.sendMessage(messages.get(0).reservation.id)" method="POST">
                <div class="form-group">
                    <div class="panel-body">
                        <textarea class="form-control" style="resize : inherit" name="content" placeholder="Message ..."></textarea>
                        <div class="alert alert-danger" data-error-for="content" role="alert" hidden></div>
                        <div>
                            <input type="submit" class="btn btn-primary pull-right" value="Send" style="margin-top : 1 em"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
        var urlToPost = "@routes.MessageController.validateForm()";
    </script>


}