@import views.helpers.Constants
@main("Contact us") {
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h1 style="color : blue"><i>CONTACT US</i></h1>
                </div>

                <div class="col-md-5 contact-info text-left">
                    <h3 style="color : black">contact information</h3>

                    <div class="info-detail" style="font-size : 20 px ;">
                        <ul><li><i class="calendar"></i><span>Monday - Friday:</span>
                            9:00 AM to 5:30 PM</li></ul>
                        <ul><li><i class="map-marker"></i><span>Address:</span>
                            Hrasnicka cesta 15, 72000 Sarajevo</li></ul>
                        <ul><li><i class="phone"></i><span>Phone:</span>(000) 123-456</li></ul>
                        <ul><li><i class="fax"></i><span>Fax:</span>(000) 456-789</li></ul>
                        <ul><li><i class="envelope"></i><span>Email: @Constants.EMAIL </span></li></ul>
                    </div>
                </div>


                <div class="col-md-6 col-md-offset-1 contact-form">
                    <h3>Leave us a message</h3>

                    <form method="post" action="@routes.Emails.sendMail()">

                    <input id="name" name="user_name" class="name" type="text" aria-required="true" placeholder="Name" required onblur="checkName()" onfocusout="checkNameLength()">
                    <div style="font-size : 20 px ; color : red" id="name_error"></div>
                    <div style="font-size : 20 px ; color : red" id="namelength_error"></div>

                    <input id="email" name="mail" class="email" type="email" placeholder="E-mail" required onblur="checkEmail()">
                    <div style="font-size : 20 px ; color : red" id="email_error"></div>

                    <input id="subject" name="subject" type="text" placeholder="Subject" required onblur="checkSubject()" onfocusout="checkSubjectLength()">
                    <div style="font-size : 20 px ; color : red" id="subject_error"></div>
                    <div style="font-size : 20 px ; color : red" id="subjectlength_error"></div>

                    <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message" required ></textarea>

                    <div style="font-size : 20 px ; color : red" class="duplicate-email">
                    @if(flash.containsKey("error")) {
                        @flash.get("error")
                    }
                    </div>
                        <div class="g-recaptcha" data-sitekey="6LdiWg4TAAAAAAqkPPWJio0eiPIb2g72zNt69tNQ"></div>
                    <input href="@routes.Emails.sendMail()" class="submit-btn" style="background-color : #204d74 ; border-radius : 5 px ; width : 80 px ; " type="submit" value="SUBMIT">

                </form>
                </div>

            </div>
        </div>
    </div>

}

