@(user: User)
@import helper._

@main("User profile") {

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/intlTelInput.css")">
    <script src="@routes.Assets.versioned("javascripts/inputtel.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/intlTelInput.min.js")"></script>
    <script>
        $(document).ready(function(){
           $("#mobile-number").intlTelInput({
          defaultCountry: "auto",
          geoIpLookup: function(callback) {
            $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
              var countryCode = (resp && resp.country) ? resp.country : "";
             // var intlNumber = $("#mobile-number").intlTelInput("getNumber");
             // var extension = $("#mobile-number").intlTelInput("getExtension");
              callback(countryCode);
            });
          },utilsScript: "@routes.Assets.versioned("javascripts/utils.js")"

         });


            var telInput = $("#mobile-number"),
                errorMsg = $("#error-msg"),
                validMsg = $("#valid-msg");

            telInput.intlTelInput({
              utilsScript: "@routes.Assets.versioned("javascripts/utils.js")"
            });
            var a;
            // on blur: validate
            telInput.on("change keyup", function() {
              if ($.trim(telInput.val())) {
                if (telInput.intlTelInput("isValidNumber")) {
                  validMsg.removeClass("hide");
                } else {
                  telInput.addClass("error");
                  errorMsg.removeClass("hide");
                  validMsg.addClass("hide");
                }
              }
            });

            // on keydown: reset
            telInput.keydown(function() {
              telInput.removeClass("error");
              errorMsg.addClass("hide");
              validMsg.addClass("hide");
            });

            $("#submit-profile").click(function(){
                 a = $("#mobile-number").intlTelInput("getNumber");
                  $("#mobile-number-id").val(a);
            });


        })
    </script>


    <div class="container" style="padding-top : 60 px ;">
        <h2 class="page-header">Hi @user.firstName  @user.lastName!</h2>
        <div class="row">
            <form class="form-horizontal" role="form" method="post" action="@routes.UserController.updateUser(session.get("email"))"  enctype="multipart/form-data">
                <!-- left column -->
                <!-- User avatar image -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                @if(user.image != null) {
                    <img src="@routes.Assets.versioned(user.image.path)" class="avatar img-circle img-thumbnail" alt="avatar">
                } else {
                    <img src="//placehold.it/100" class="avatar img-circle img-thumbnail" alt="avatar">
                }
                    <h6>Upload a different photo</h6>
                    <input id="input-dim-1" name="pictures" type="file" class="file-loading" accept="image/*">
                    @*<input type="file" class="text-center center-block well well-sm">**@
                </div>
            </div>
                <!-- edit form column -->
                <!-- Message to User -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    @*<i class="fa fa-coffee"></i>*@
                    <p><i class="glyphicon glyphicon-user"></i> Welcome to bitnavigator. You can't change your <strong>
                        email</strong> address.


                    </p>
                </div>
                <h3 class="user-info">User info:</h3>
                    <!--User info fields -->

                        <!-- User first name filed-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="@user.firstName" type="first_name" name="firstName" id="first_name">
                        </div>
                    </div>
                        <!-- User last name field-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="@user.lastName" type="last_name" name="lastName" id="last_name">
                        </div>
                    </div>
                        <!-- User email filed-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="@user.email" type="email" name="email" id="email" readonly>
                        </div>
                    </div>
                        <!-- User phone number-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Phone number:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="@user.phoneNumber" type="tel" id="mobile-number">
                            <span id="valid-msg" class="hide">✓ Valid</span>
                            <span id="error-msg" class="hide">Invalid number</span>
                        </div>
                        <input id="mobile-number-id" name="mobileNumber" type="hidden">
                    </div>
                </div>
                        <!-- Confirm and cancel buttons -->
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input id="submit-profile" class="btn btn-primary" value="Save Changes" type="submit">
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset" onclick="window.location='/';">

                        </div>
                    </div>
            
            </form>
        </div>
    </div> <p><br></p>
        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
            @flash.get("error")
            </div>
        }

}