@main("Add service") {

    <div class="container-fluid" style="margin-top: 50px;">
        <form method="post" action="@routes.ServiceController.save()">
            <div class="form-group">
                <label class="control-label" for="inputDefault">Service type</label>
                <input type="text" class="form-control" id="inputDefault" name="serviceType">
                <p><br></p>
                <button id="btn-add-service" class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>

}