@(faqs: java.util.List[FAQ])

@main("All FAQs") {
    <h1>FAQ</h1>

    <div class="panel-group" id="accordion">
    @for(faq <-faqs){

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@faq.id">
                    @faq.question</a>
                </h4>
            </div>
            <div id="collapse@faq.id" class="panel-collapse collapse">
                <div class="panel-body">@faq.answer<br>
                <td>
                    <a href="@routes.FAQController.editFAQ(faq.id)"><button type="submit"><span class="glyphicon glyphicon-pencil"></span></button></a>
                    <a href="@routes.FAQController.deleteFAQ(faq.id)" data-role="delete" data-delete-parent="tr"><i class="glyphicon glyphicon-trash"></i></a>
                </td>

                </div>
            </div>
        </div>
    }
    </div>


    <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>

    <a href="@routes.FAQController.newFAQ()"><button class="btn btn-default">Add new faq</button></a>

}
