@main("Add place") {

    <script>
        var marker;
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map-add-place'), {
            zoom: 8,
            center: {lat: 40.731, lng: -73.997}
          });
          var geocoder = new google.maps.Geocoder;
          var infowindow = new google.maps.InfoWindow;

          marker = new google.maps.Marker({
                position: {lat: 40.731, lng: -73.997},
                map: map,
                draggable: true,
                title: 'Hello World!'
          });

          document.getElementById('btn-add').addEventListener('click', function() {
            geocodeLatLng(geocoder, map, infowindow, marker.getPosition().lat() + "," + marker.getPosition().lng());
          });
        }
        function geocodeLatLng(geocoder, map, infowindow, ll) {
          var input = ll;
          var latlngStr = input.split(',', 2);
          var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
          geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                //map.setZoom(11);
                infowindow.setContent(results[1].formatted_address);
                infowindow.open(map, marker);
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
    <div id="map-add-place"></div>
    <button class="button" id="btn-add">Address</button>
}