@(placeForm: Form[Place])
@import helper._

@main("Add place") {

    @helper.form(action = routes.PlaceHandler.save()) {
    <!DOCTYPE html>
        <html lang="en">
            <head>
                <title>Add place</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            </head>

            <body>
                    @*<!-- Container wrapping adding place -->*@
                @*<div class="container">*@
                        @*<!-- Trigger the modal with a button -->*@
                    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add place</button>*@

                        @*<!-- Modal -->*@
                    @*<div class="modal fade" id="myModal" role="dialog">*@
                        @*<div class="modal-dialog">*@

                                @*<!-- Modal content-->*@
                            @*<div class="modal-content">*@
                                @*<div class="modal-header">*@
                                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                    @*<h4 class="modal-title">Creating new place.</h4>*@
                                @*</div>*@

                                    @*<!--Modal body with place information field -->*@
                                @*<div class="modal-body">*@
                                        <!-- Title input field -->
                                    <div class="form-group">
                                        <label for="usr">Title:</label>
                                        <input type="title" class="form-control" name="title" id="title">
                                    </div>
                                        <!-- Description input field -->
                                    <div class="form-group">
                                        <label for="comment">Description:</label>
                                        <textarea class="form-control" rows="5" name="description" id="description" type="description"></textarea>
                                    </div>
                                        <!-- Address input field -->
                                    <div class="form-group">
                                        <label for="usr">Address:</label>
                                        <input type="address" class="form-control" name="address" id="address">
                                    </div>
                                        <!-- Phone input field -->
                                    <div class="form-group">
                                        <label for="usr">Phone:</label>
                                        <input type="phone" class="form-control" name="phone" id="phone">
                                    </div>

                                        <!-- Place type checkbox-->
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">ACCOMMODATION</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">COFFEE</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">FOOD</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">SHOPPING</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">NIGHTLIFE</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">SPORT</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">SERVICES</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">TRANSPORTATION</label>
                                    </div>

                                    <p><br/></p>
                                        <!-- Adding image MINIMUM IMAGE DIMENSIONS -->
                                    <input id="input-dim-1" type="file" multiple class="file-loading" accept="image/*">
                                      <script>
                                        $("#input-dim-1").fileinput({
                                            uploadUrl: "/file-upload-batch/2",
                                            allowedFileExtensions: ["jpg", "png", "gif"],
                                            minImageWidth: 50,
                                            minImageHeight: 50
                                            });
                                      </script>

                                @*</div>*@
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btn-submit" data-dismiss="modal">Create</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    }
                                </div>
                            @*</div>*@

                        @*</div>*@
                    @*</div>*@

                @*</div>*@

            </body>
        </html>
}

