@(places: java.util.List[Place])

@main("bitNavigator") {


    <script>
        function isFloat(n){
           return n === Number(n) && n % 1 !== 0;
        }
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 43.850, lng: 18.390},
                zoom: 13
            });

            @for(place <- places){
                @if(place.latitude != null && place.longitude != null){console.log("@place.title");
                    var infowindow = new google.maps.InfoWindow({
                        content: "@place.title"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: @place.latitude, lng: @place.longitude},
                        map: map,
                        label: "@place.title"
                    });

                    infowindow.open(map, marker);
                }
            }
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    </div> <!-- closing container div-->
    <div id="map"></div>
    <div><!-- opening div-->
}
