@(places: java.util.List[Place])
<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <div class="mini-submenu">
            <i class="fa fa-map-marker" style="font-size: x-large; padding-left: 5px; color: #2b669a"></i>
        </div>
        <div class="list-group">
            <span href="#" class="list-group-item active" style="font-family: 'DejaVu Sans Mono', monospace; font-size: 15px; background-color: #2b669a">
                Places near you
                <span class="pull-right" id="slide-submenu">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <div style="background-color: white">
            <table id="myTable1" class="table table-row-cell" cellspacing="0" width="100%" style="border-bottom: none">
                <thead>
                    <tr>
                        <th class="naslov" style="background-image: none; background-color: white; color : #0a68b4">Service</th>
                        <th class="naslov col-sx-7" style="background-image: none; background-color: white; color : #0a68b4">Place</th>
                        <th class="naslov" style="background-image: none; background-color: white; color : #0a68b4">Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @for(place <- places) {
                        <tr onclick="window.location='@routes.PlaceController.viewPlace(place.id)'" style="cursor: pointer;">
                            <td class="naslov"><img src="@routes.Assets.versioned(place.service.serviceIcon)" alt="" style="-webkit-filter: invert(50%); filter: invert(100%);"></td>
                            <td class="naslov">@place.title</td>
                            <td id="distance-nearby-places-@place.id" class="naslov"></td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<script>
        var table;
        $(document).ready(function(){
            function drawTable() {
                table = $('#myTable1').DataTable({
                    "order": [[ 2, "asc" ]],
                    bFilter: false,
                    bInfo: false,
                    bPaginate: false,
                    sScrollY: 300,
                    scrollCollapse: true
                });
            };
            function calculateDistances() {
                var mapCenter;
                var index = 0;
                var counter = 0;
                @for(place <- places){
    @if(place.latitude != null || place.longitude != null){
                        latlng = new google.maps.LatLng(@place.latitude, @place.longitude);
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function(position) {
                                var pos = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };
                                mapCenter = new google.maps.LatLng(pos.lat, pos.lng);
                                var distance = (google.maps.geometry.spherical.computeDistanceBetween(mapCenter, new google.maps.LatLng(@place.latitude, @place.longitude)) / 1000).toFixed(2);
                                document.getElementById('distance-nearby-places-@place.id').innerText = distance + " km";
                                index++;
                                counter++;
                                if(counter == @places.size()) {
                                    drawTable();
                                }
                            }, function() {
                                handleLocationError(true, infoWindow, map.getCenter());
                            });
                        } else {
                            // Browser doesn't support Geolocation
                             handleLocationError(false, infoWindow, map.getCenter());
                        }
                    }else{
                        document.getElementById('distance-nearby-places-@place.id').innerText = "n/a";
                        counter++;
                    }
}
            }
            calculateDistances();
            //setTimeout(drawTable, 2000);
        });
    </script>
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7g-OtZDAo36PRHRxeDaaBUbTeC1AXnBs&libraries=geometry">
</script>