@(userForm: Form[User])
@import helper._

@main("Sign up") {

    @helper.form(action = routes.UserHandler.save()) {

        <div class="container-fluid">
            <form method="post" action="@routes.UserHandler.save()">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">First name</span>
                        <input type="text" class="form-control" value="@userForm("firstName").value" aria-describedby="basic-addon1" name="firstName"
                        data-toggle="popover" data-trigger="focus" data-content="Can only contain letters.">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Last name</span>
                    <input type="text" class="form-control" value="@userForm("lastName").value" aria-describedby="basic-addon1" name="lastName"
                    data-toggle="popover" data-trigger="focus" data-content="Can only contain letters.">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" value="@userForm("email").value" aria-describedby="basic-addon1" name="email"
                    data-toggle="popover" data-trigger="focus" data-content="Input valid email address.">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="@userForm("password").value" aria-describedby="basic-addon1" name="password"
                    data-toggle="popover" data-trigger="focus" data-content="Password must contain between 8 and 25 characters. There has to be at least one letter and one digit character">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Confirm password</span>
                    <input type="password" class="form-control" placeholder="@userForm("password").value" aria-describedby="basic-addon1" name="password"
                    data-toggle="popover" data-trigger="focus" data-content="Confirm password.">
                </div>
                <button id="btn-sign-up" type="submit" class="btn btn-default">Sign up</button>
            </form>

            @if(flash.containsKey("error")) {
                <div class="alert alert-danger">
                @flash.get("error")
                </div>
            }
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
        </div>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>


            <script>
                var pass = document.getElementById("password");
                var conPass = document.getElementById("password");
                var btnSubmit = document.getElementById("btn-submit");
                function isEqual() {
                    if (pass.value != conPass.value) {
                        pass.value = null;
                    }
                }
                btnSubmit.onclick = isEqual();
            </script>

    }
}

