@(users: java.util.List[User])

@main("User list") {
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")" type="text/javascript"></script>
    <div class="container-fluid">
        <h2>All users</h2>
        <script>

        function del(urlToDel) {
            if (confirm("Are you sure you want to delete user?")) {
            $.ajax({

                url: '/ValidateApplication.php',
                url: urlToDel,
                type: 'DELETE',
                success: function(results) {

                    location.reload();
                }
            });
            }
        }
    </script>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
            @for(user <- users) {

                <tr>
                    <td>@user.id</td>
                    <td>@user.firstName</td>
                    <td>@user.lastName</td>
                    <td>@user.email</td>
                    <td>@if(user.email != session.get("email") ){
                        <a onclick="del('@routes.UserController.delete(user.email)')"><i class="glyphicon glyphicon-trash"></i></a>
                    }</td>
                </tr>

            }
            </tbody>
        </table>
    </div>

}