@(place: Place)(services: java.util.List[Service])(comments: java.util.List[Comment])
@import helper._


@main("Edit place") {


    <form method="post" action="@routes.PlaceController.updatePlace(place.id)" enctype="multipart/form-data">
        @views.html.place.helper._placeform(place)(services)("Edit place")
    </form>
    @for(comment <- comments) {
        <div id="container-comment" class="container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title">@comment.user.firstName @comment.user.lastName
                    - @comment.commentCreated.getTime</h3>
            </div>
            <div class="panel-body">
                <textarea id="comment-content" class="form-control" rows="1" name="commentContent" id="commentContent" type="text" readonly>@comment.commentContent</textarea>
            </div>
        </div>
    }

    <script>
        var urlToPost = "@routes.PlaceController.validateForm()";
        var lat;
        var lng;
        @if(place.latitude != null && place.longitude != null) {
                lat = @place.latitude;
                lng = @place.longitude;
        }
    </script>
    <script src="@routes.Assets.versioned("javascripts/validateForm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/googleMaps/miniMap.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
    <script src="@routes.Assets.versioned("javascripts/getService.js")"></script>
}