@import utillities.SessionHelper
@(place: Place)(services: java.util.List[Service])(comments: java.util.List[Comment])
@import helper._


@main("Edit place") {


    <form method="post" action="@routes.PlaceController.updatePlace(place.id)" enctype="multipart/form-data">
        @views.html.place.helper._placeform(place)(services)("Edit place")
    </form>
    @for(comment <- comments) {
        @if(Report.findByComment(comment) != null && Report.isReportedByUser(Report.findByComment(comment), User.findByEmail(SessionHelper.getCurrentUsersEmail()))) {
            @views.html.place.helper._commentview(comment)(true)(false)
        }else{
            @views.html.place.helper._commentview(comment)(false)(false)
        }

    }
    <script>
        var tmp;

         $(document).ready(function() {

            var object = '@WorkingHours.getWorkingHoursAsJSON(place)';
            object = object.split("*").join("\"");

            $("#businessHoursContainer").businessHours({
                    operationTime: JSON.parse(object)
            });

            /*
            var openingTimes = document.querySelectorAll('[name="startTime"]');
            var closingTimes = document.querySelectorAll('[name="endTime"]');
            @for(i <- 0 to 6){
                @if(WorkingHours.getFormatedOpeningTimes(place).get(i) == "not working"){

                }else{
                    openingTimes[@i].value= "@WorkingHours.getFormatedOpeningTimes(place).get(i)";
                    closingTimes[@i].value= "@WorkingHours.getFormatedClosingTimes(place).get(i)";
                }
            }




                /*
             $("#add-place-form").submit(function(e, options){

                var json = JSON.stringify(businessHoursManager.serialize());

                json = $.parseJSON(json);

                for(var i = 1; i <= 7; i++){

                    if(json[i-1].isActive == true){

                        var openHour = json[i-1].timeFrom.split(":")[0];
                        var openMin = json[i-1].timeFrom.split(":")[1];
                        var open = parseInt(openHour) * 60 + parseInt(openMin);

                        $('#add-place-form').append('<input hidden name="open' + i + '" value="' + open + '">');
                        var closeHour = json[i-1].timeTill.split(":")[0];
                        var closeMin = json[i-1].timeTill.split(":")[1];
                        var close = parseInt(closeHour) * 60 + parseInt(closeMin);
                        $('#add-place-form').append('<input hidden name="close' + i + '" value="' + close + '">');

                    }
                }

             });
             */
         });
    </script>

    <script>
        var urlToPost = "@routes.PlaceController.validateForm()";
        var lat;
        var lng;
        @if(place.latitude != null && place.longitude != null) {
                lat = @place.latitude;
                lng = @place.longitude;
        }
    </script>
    <script src="@routes.Assets.versioned("javascripts/validateForm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/googleMaps/miniMap.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
    <script src="@routes.Assets.versioned("javascripts/getService.js")"></script>
}