@(places: java.util.List[Place])

@main("Nearby places") {
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")" type="text/javascript"></script>
    <script type="text/javascript" src="javascripts/jquery-latest.js"></script>
    <script type="text/javascript" src="javascripts/jquery.tablesorter.js"></script>

    <h2>All places</h2>

    <table id="myTable" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th>Title</th>
                <th>Service</th>
                <th>Description</th>
                <th>Address</th>
                <th>Distance [km]</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
        @for(place <- places) {
            @if(place.user != null) {
                <tr>
                    <td>@place.title</td>
                    <td><img class="img-responsive" src="@routes.Assets.versioned(place.service.serviceIcon)" title="@place.service.serviceType"></td>
                    <td>@place.description</td>
                    <td>@place.address</td>
                    <td id="distance-nearby-places-@place.id"></td>
                    <td><a href="@routes.PlaceController.viewPlace(place.id)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                </tr>
            }
        }
        </tbody>
    </table>

    <script src="@routes.Assets.versioned("javascripts/deleteConfirm.js")"></script>
    <script>
        var table;
        $(document).ready(function(){
            var mapCenter;
            var index = 0;
            @for(place <- places){
                @if(place.latitude != null || place.longitude != null){
                    latlng = new google.maps.LatLng(@place.latitude, @place.longitude);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        mapCenter = new google.maps.LatLng(pos.lat, pos.lng);
                        var distance = (google.maps.geometry.spherical.computeDistanceBetween(mapCenter, new google.maps.LatLng(@place.latitude, @place.longitude)) / 1000).toFixed(2);
                        document.getElementById('distance-nearby-places-@place.id').innerText = distance;
                        //document.getElementById('distance-nearby-places-@place.id').innerText = parseInt(google.maps.geometry.spherical.computeDistanceBetween(mapCenter, new google.maps.LatLng(@place.latitude, @place.longitude)));
                        index++;
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
                }else{
                    document.getElementById('distance-nearby-places-@place.id').innerText = "n/a";
                }

            }
            setTimeout(function(){
                    table = $('#myTable').DataTable({
                        "order": [[ 4, "asc" ]]
                    });
                }, 2000);
        });
         $(document).ready(function() {
    // call the tablesorter plugin
    $("#myTable").tablesorter();
});
    </script>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7g-OtZDAo36PRHRxeDaaBUbTeC1AXnBs&libraries=geometry">
    </script>
}