@(places: java.util.List[Place])

<script>
  $(document).ready(function () {
    $('#example').DataTable();
});
</script>

    @if(!places.isEmpty) {
        @for(place <- places) {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    @if(place.images.size() != 0){
                        <img src="@place.images.get(0).getSize(320,150)" alt="">
                    }else{
                        <img src="http://placehold.it/320x150" alt="">
                    }
                    <div class="caption">
                        <h4><a href="@routes.PlaceController.viewPlace(place.id)">@place.title</a>
                        </h4>
                        <p>@place.address </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" style="padding-right: 53px">@place.comments.size() reviews</p>
                        <p>
                        @if(place.getRating == null) {
                            <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                        } else {
                            @for(i <- place.getListRating()){
                                @if(place.getRating() >= i) {
                                    <span class="glyphicon glyphicon-star" style="color: gold"></span>
                                }else{
                                    <span class="glyphicon glyphicon-star-empty" style="color: gold"></span>
                                }
                            }
                        }
                        </p>
                    </div>
                </div>
            </div>
        }
    } else {
        <p style="color : red ; font-size : 13 px">No suggested places</p>
    }